In [1]:
# Import libraries
import pandas as pd

# Import ML libraries
from sklearn.preprocessing import StandardScaler

In [2]:
# Read the data
raw_anime_df = pd.read_csv('Resources/anime_clean.csv', encoding='utf-8')
raw_anime_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

#### Data cleaning for Tableau

In [3]:
# Create a copy of the dataframe
anime_tb_df = raw_anime_df.copy()

In [4]:
# One-Hot Encoding genre column
# Remove all spaces from the genre column
anime_tb_df['genre'] = anime_tb_df['genre'].apply(lambda x: x.replace(' ', ''))
gen_split_df = anime_tb_df['genre'].str.get_dummies(sep=',')
gen_split_df.head()

,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,ShounenAi,SliceofLife,Space,Sports,SuperPower,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Check the columns in the genre split dataframe
gen_split_df.columns

Index(['Action', 'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons', 'Drama',
       'Ecchi', 'Fantasy', 'Game', 'Harem', 'Hentai', 'Historical', 'Horror',
       'Josei', 'Kids', 'Magic', 'MartialArts', 'Mecha', 'Military', 'Music',
       'Mystery', 'Parody', 'Police', 'Psychological', 'Romance', 'Samurai',
       'School', 'Sci-Fi', 'Seinen', 'Shoujo', 'ShoujoAi', 'Shounen',
       'ShounenAi', 'SliceofLife', 'Space', 'Sports', 'SuperPower',
       'Supernatural', 'Thriller', 'Vampire', 'Yaoi', 'Yuri'],
      dtype='object')

In [6]:
# Remove the following genre columns: 'Ecchi', 'Hentai', 'Yaoi', 'Yuri'
gen_split_df.drop(columns=['Ecchi', 'Harem', 'Hentai', 'Yaoi', 'Yuri'], inplace=True)
print(gen_split_df.columns)
gen_split_df.head()

Index(['Action', 'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons', 'Drama',
       'Fantasy', 'Game', 'Historical', 'Horror', 'Josei', 'Kids', 'Magic',
       'MartialArts', 'Mecha', 'Military', 'Music', 'Mystery', 'Parody',
       'Police', 'Psychological', 'Romance', 'Samurai', 'School', 'Sci-Fi',
       'Seinen', 'Shoujo', 'ShoujoAi', 'Shounen', 'ShounenAi', 'SliceofLife',
       'Space', 'Sports', 'SuperPower', 'Supernatural', 'Thriller', 'Vampire'],
      dtype='object')

,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Fantasy,Game,Historical,...,ShoujoAi,Shounen,ShounenAi,SliceofLife,Space,Sports,SuperPower,Supernatural,Thriller,Vampire
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,1,0,0,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [7]:
gen_split_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11903 entries, 0 to 11902
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Action         11903 non-null  int64
 1   Adventure      11903 non-null  int64
 2   Cars           11903 non-null  int64
 3   Comedy         11903 non-null  int64
 4   Dementia       11903 non-null  int64
 5   Demons         11903 non-null  int64
 6   Drama          11903 non-null  int64
 7   Fantasy        11903 non-null  int64
 8   Game           11903 non-null  int64
 9   Historical     11903 non-null  int64
 10  Horror         11903 non-null  int64
 11  Josei          11903 non-null  int64
 12  Kids           11903 non-null  int64
 13  Magic          11903 non-null  int64
 14  MartialArts    11903 non-null  int64
 15  Mecha          11903 non-null  int64
 16  Military       11903 non-null  int64
 17  Music          11903 non-null  int64
 18  Mystery        11903 non-null  int64
 19  Parody         11903 non-null  int64
 20  Police         11903 non-null  int64
 21  Psychological  11903 non-null  int64
 22  Romance        11903 non-null  int64
 23  Samurai        11903 non-null  int64
 24  School         11903 non-null  int64
 25  Sci-Fi         11903 non-null  int64
 26  Seinen         11903 non-null  int64
 27  Shoujo         11903 non-null  int64
 28  ShoujoAi       11903 non-null  int64
 29  Shounen        11903 non-null  int64
 30  ShounenAi      11903 non-null  int64
 31  SliceofLife    11903 non-null  int64
 32  Space          11903 non-null  int64
 33  Sports         11903 non-null  int64
 34  SuperPower     11903 non-null  int64
 35  Supernatural   11903 non-null  int64
 36  Thriller       11903 non-null  int64
 37  Vampire        11903 non-null  int64
dtypes: int64(38)
memory usage: 3.5 MB

In [8]:
# Reverse get_dummies back into genre column
combine_genre_list = ['Action', 'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons', 'Drama',
       'Fantasy', 'Game', 'Historical', 'Horror', 'Josei', 'Kids', 'Magic',
       'MartialArts', 'Mecha', 'Military', 'Music', 'Mystery', 'Parody',
       'Police', 'Psychological', 'Romance', 'Samurai', 'School', 'Sci-Fi',
       'Seinen', 'Shoujo', 'ShoujoAi', 'Shounen', 'ShounenAi', 'SliceofLife',
       'Space', 'Sports', 'SuperPower', 'Supernatural', 'Thriller', 'Vampire']

# First, select only the one-hot encoded columns (genre columns)
genre_columns = [col for col in gen_split_df.columns if col in combine_genre_list]  

# Apply a function to reverse one-hot encoding
def reverse_one_hot(row):
    return ','.join([col for col in genre_columns if row[col] == 1])

# Create a new column with the reversed genres
gen_split_df['genre'] = gen_split_df.apply(reverse_one_hot, axis=1)

# View the result
gen_split_df.head()

,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Fantasy,Game,Historical,...,Shounen,ShounenAi,SliceofLife,Space,Sports,SuperPower,Supernatural,Thriller,Vampire,genre
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,"Drama,Romance,School,Supernatural"
1,1,1,0,0,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,"Action,Adventure,Drama,Fantasy,Magic,Military,..."
2,1,0,0,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi..."
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,"Sci-Fi,Thriller"
4,1,0,0,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi..."

In [9]:
# Rename genre column to genre_original
anime_tb_df.rename(columns={'genre': 'genre_original'}, inplace=True)
anime_tb_df.head()

,anime_id,name,genre_original,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama,Romance,School,Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action,Adventure,Drama,Fantasy,Magic,Military,...",TV,64,9.26,793665
2,28977,Gintama,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",TV,51,9.25,114262
3,9253,Steins Gate,"Sci-Fi,Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",TV,51,9.16,151266

In [10]:
# Concatenate the one-hot encoded genre and type columns with the original dataframe
anime_tb_df = pd.concat([anime_tb_df, gen_split_df], axis=1)
anime_tb_df.head()

,anime_id,name,genre_original,type,episodes,rating,members,Action,Adventure,Cars,...,Shounen,ShounenAi,SliceofLife,Space,Sports,SuperPower,Supernatural,Thriller,Vampire,genre
0,32281,Kimi no Na wa.,"Drama,Romance,School,Supernatural",Movie,1,9.37,200630,0,0,0,...,0,0,0,0,0,0,1,0,0,"Drama,Romance,School,Supernatural"
1,5114,Fullmetal Alchemist: Brotherhood,"Action,Adventure,Drama,Fantasy,Magic,Military,...",TV,64,9.26,793665,1,1,0,...,1,0,0,0,0,0,0,0,0,"Action,Adventure,Drama,Fantasy,Magic,Military,..."
2,28977,Gintama,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",TV,51,9.25,114262,1,0,0,...,1,0,0,0,0,0,0,0,0,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi..."
3,9253,Steins Gate,"Sci-Fi,Thriller",TV,24,9.17,673572,0,0,0,...,0,0,0,0,0,0,0,1,0,"Sci-Fi,Thriller"
4,9969,Gintama',"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",TV,51,9.16,151266,1,0,0,...,1,0,0,0,0,0,0,0,0,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi..."

In [11]:
# Get the genre columns from get_dummies 
anime_tb_df.columns

Index(['anime_id', 'name', 'genre_original', 'type', 'episodes', 'rating',
       'members', 'Action', 'Adventure', 'Cars', 'Comedy', 'Dementia',
       'Demons', 'Drama', 'Fantasy', 'Game', 'Historical', 'Horror', 'Josei',
       'Kids', 'Magic', 'MartialArts', 'Mecha', 'Military', 'Music', 'Mystery',
       'Parody', 'Police', 'Psychological', 'Romance', 'Samurai', 'School',
       'Sci-Fi', 'Seinen', 'Shoujo', 'ShoujoAi', 'Shounen', 'ShounenAi',
       'SliceofLife', 'Space', 'Sports', 'SuperPower', 'Supernatural',
       'Thriller', 'Vampire', 'genre'],
      dtype='object')

In [12]:
# Drop the genre columns from get_dummies
anime_tb_df.drop(columns=['Action', 'Adventure', 'Cars', 'Comedy', 'Dementia',
       'Demons', 'Drama', 'Fantasy', 'Game', 'Historical', 'Horror', 'Josei',
       'Kids', 'Magic', 'MartialArts', 'Mecha', 'Military', 'Music', 'Mystery',
       'Parody', 'Police', 'Psychological', 'Romance', 'Samurai', 'School',
       'Sci-Fi', 'Seinen', 'Shoujo', 'ShoujoAi', 'Shounen', 'ShounenAi',
       'SliceofLife', 'Space', 'Sports', 'SuperPower', 'Supernatural',
       'Thriller', 'Vampire'], inplace=True)
anime_tb_df.head()

,anime_id,name,genre_original,type,episodes,rating,members,genre
0,32281,Kimi no Na wa.,"Drama,Romance,School,Supernatural",Movie,1,9.37,200630,"Drama,Romance,School,Supernatural"
1,5114,Fullmetal Alchemist: Brotherhood,"Action,Adventure,Drama,Fantasy,Magic,Military,...",TV,64,9.26,793665,"Action,Adventure,Drama,Fantasy,Magic,Military,..."
2,28977,Gintama,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",TV,51,9.25,114262,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi..."
3,9253,Steins Gate,"Sci-Fi,Thriller",TV,24,9.17,673572,"Sci-Fi,Thriller"
4,9969,Gintama',"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",TV,51,9.16,151266,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi..."

In [13]:
# Get the column names
anime_tb_df.columns

Index(['anime_id', 'name', 'genre_original', 'type', 'episodes', 'rating',
       'members', 'genre'],
      dtype='object')

In [14]:
# Change the order to 'anime_id', 'name', 'genre_original', 'genre', 'type', 'episodes', 'rating', 'members', 'genre'
anime_tb_df = anime_tb_df[['anime_id', 'name', 'genre_original', 'genre', 'type', 'episodes', 'rating', 'members']]
anime_tb_df.head()

,anime_id,name,genre_original,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama,Romance,School,Supernatural","Drama,Romance,School,Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action,Adventure,Drama,Fantasy,Magic,Military,...","Action,Adventure,Drama,Fantasy,Magic,Military,...",TV,64,9.26,793665
2,28977,Gintama,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...","Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",TV,51,9.25,114262
3,9253,Steins Gate,"Sci-Fi,Thriller","Sci-Fi,Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...","Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",TV,51,9.16,151266

In [15]:
# Drop the 'genre_original' column
anime_tb_df.drop(columns=['genre_original'], inplace=True)
anime_tb_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama,Romance,School,Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action,Adventure,Drama,Fantasy,Magic,Military,...",TV,64,9.26,793665
2,28977,Gintama,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",TV,51,9.25,114262
3,9253,Steins Gate,"Sci-Fi,Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",TV,51,9.16,151266

In [17]:
# Check the dataframe
anime_tb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11903 entries, 0 to 11902
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  11903 non-null  int64
 1   name      11903 non-null  object
 2   genre     11903 non-null  object
 3   type      11903 non-null  object
 4   episodes  11903 non-null  int64
 5   rating    11903 non-null  float64
 6   members   11903 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 651.1+ KB

#### Save data for Tableau

In [16]:
# Save the cleaned dataframe to a csv file for Tableau dashboard
anime_tb_df.to_csv('Resources/anime_tableau.csv', index=False, encoding='utf-8')